@import "tailwindcss";

@theme {
  --color-primary-50: #eef8f7;
  --color-primary-100: #d4ede9;
  --color-primary-200: #aedbd5;
  --color-primary-300: #7ec2ba;
  --color-primary-400: #55a69d;
  --color-primary-500: #3c8d84;
  --color-primary-600: #43a99e; /* RATP Dev Vibrant Teal */
  --color-primary-700: #296b63;
  --color-primary-800: #235650;
  --color-primary-900: #204743;
  --color-primary-950: #102927;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }
}



.glass-panel {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}
